@{
    ViewBag.Title = "RFQForm";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header" id="RequestHistoryContainer">
        <h1>
            New Request For Quotation
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="">New Request</li>
            <li class="active">RFQ</li>
        </ol>
    </section>
    <section class="content" id="Roles">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <p style="text-transform:uppercase">
                            RFQ Request
                        </p>
                    </div>
                    <div class="box-body">
                        <div class="col-md-10 col-md-offset-2">
                            @using (Html.BeginForm("RFQForm", "Request", FormMethod.Post, new { role = "form", enctype = "multipart/form-data", id = "NewRequestForm" })) { 
                                <div class="box-body">
                                    <div class="form-group col-md-12">
                                        <div class="col-md-4">
                                            <label for="RFQ_START_DATE">RFQ Request Date</label>
                                            <input type="text" data-provide="datepicker"   class="form-control" required id="RFQ_START_DATE" name="RFQ_START_DATE" placeholder="mm/dd/yyyy">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="RFQ_CLOSE_DATE">RFQ Closing Date</label>
                                            <input type="text" data-provide="datepicker"  class="form-control" required id="RFQ_CLOSE_DATE" name="RFQ_CLOSE_DATE" placeholder="mm/dd/yyyy">
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="col-md-8">
                                            <label for="DELIVERY_ADDRESS">Delivery Address</label>
                                            <textarea class="form-control" required name="DELIVERY_ADDRESS" rows="3"></textarea>
                                            <input type="hidden" name="MAPPING" id="MAPPING"/>
                                            <br/>
                                            <span class="text text-success text-bold" id="MapperMsg"></span>
                                        </div>
                                    </div>
                                    <div id="MapDiv" style="margin-top:2%" class="form-group col-md-12 col-md-offset-3">
                                        <a href="@Url.Action("MappTreatedSourceReq", "Admin")" data-toggle="modal" data-target="#myModal" class="btn btn-success">Map Request</a>
                                    </div>
                                    <div id="SubmitDiv" style="display:none" class="form-group col-md-12 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                    
                                </div>
                                <!-- /.box-body -->
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts  {
<script type="text/javascript">
    $('input').keypress(function (e) {
        e.preventDefault();
    });

    function mapRequest(id) {
        var $value = id;
        $('#MAPPING').val($value);
        $('#SubmitDiv').css('display', 'block');
        $('#MapDiv').css('display', 'none');
        $('.modal').modal('hide');
        $('#MapperMsg').text("Item Mapped click on Submit Button to Proceed")

    }

</script>
  }

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Enter Negotiated Value</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<style type="text/css">
    .modal-dialog {
        width: 80%; /* New width for default modal */
        height: 900px;
    }

    .modal-body {
        max-height: 500px;
    }

    .modal-sm {
        width: 350px; /* New width for small modal */
    }
</style>

